[Unit]
Description=drone-server of Drone CI
Documentation=https://drone.io/
After=network-online.target
Wants=systemd-networkd-wait-online.service sshd.service

[Service]
Restart=on-abnormal
EnvironmentFile=/etc/default/droneci
ExecStart=/usr/bin/drone-server --server-addr {{ drone_addr }}:{{ drone_port }}
User={{ drone_user }}
Group={{ drone_group }}
WorkingDirectory=/home/{{ drone_user }}
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

