DATABASE_DRIVER=sqlite
DATABASE_CONFIG=/home/{{ drone_user }}/drone.sqlite
DRONE_HOST=https://ci.{{ domain }}
DRONE_ADMIN={{ user_name }}
DRONE_GITEA=true
DRONE_GITEA_URL=https://git.{{ domain }}
GIN_MODE=release
