<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <p>Please, come back in some minutes.</p>
    <p>In case of emergency contact <a href="mailto:{{ user_email }}">{{ user_email }}</a></p>
</body>
</html>